In [ ]:
def execute(self):
    tables_names = self._list_tables()
    df = self._join_all_versions(tables_names)
    df = self._transform_column_names_to_snake_case(df)
    df = self._drop_insignificant_columns(df)
    df = self._clean_duplicates(df)
    df = self._correct_misspellings(df)
    df = self._format_data(df)
    df = self._handle_missing_values(df)
    self.trusted_db_connector.insert_data(self._get_trusted_table_name(), df)

In [ ]:
from src.helpers.db_connector import DBConnector

formatted_db_connector = DBConnector()
trusted_db_connector = DBConnector()

In [ ]:
from src.formatted.json import JSONFormatted

json_formatted = JSONFormatted(
    persistent_folder=r"C:\Users\ferra\PycharmProjects\adsdb-project\data\landing\persistent",
    formatted_db_connector=formatted_db_connector,
)

json_formatted.execute()

In [ ]:
print(formatted_db_connector.get_tables())

In [ ]:
from src.trusted.nhtsa_safety_rating import NHTSASafetyRating

trusted = NHTSASafetyRating(
    formatted_db_connector=formatted_db_connector,
    trusted_db_connector=trusted_db_connector,
)

In [ ]:
print(
    formatted_db_connector.execute_query(
        """SELECT * from nhtsa_safety_rating_20241026"""
    )
)

In [ ]:
df = formatted_db_connector.get_table_as_dataframe(
    table_name="nhtsa_safety_rating_20241026"
)

df

In [ ]:
formatted_db_connector.get_tables()

In [ ]:
trusted.execute()

print(trusted_db_connector.get_tables())

In [ ]:
print(df.columns)

In [ ]:
import re
import pandas as pd


def _transform_column_names_to_snake_case(df: pd.DataFrame) -> pd.DataFrame:
    df.columns = [
        re.sub(r"(?<!^)(?=[A-Z])", "_", col.replace("NHTSA", "nhtsa"))
        .replace("-", "_")
        .lower()
        for col in df.columns
    ]
    return df

In [ ]:
df = _transform_column_names_to_snake_case(df)

df

### TEST FOR WHOLE EXECUTION

In [1]:
from src.helpers.db_connector import DBConnector

formatted_db_connector = DBConnector()
trusted_db_connector = DBConnector()

from src.formatted.json import JSONFormatted

json_formatted = JSONFormatted(
    persistent_folder=r"C:\Users\ferra\PycharmProjects\adsdb-project\data\landing\persistent",
    formatted_db_connector=formatted_db_connector,
)

json_formatted.execute()
print(formatted_db_connector.get_tables())
from src.trusted.nhtsa_safety_rating import NHTSASafetyRating

trusted = NHTSASafetyRating(
    formatted_db_connector=formatted_db_connector,
    trusted_db_connector=trusted_db_connector,
)

[('nhtsa_safety_rating_20241026',), ('nhtsa_safety_rating_20241027',), ('data',)]

In [2]:
trusted.execute()

In [3]:
df_trusted = trusted_db_connector.get_table_as_dataframe("nhtsa_safety_rating")

In [4]:
df_trusted

       make                    model  model_year  overall_rating
0      AUDI                       A3        2011            4.00
1      AUDI                       A4        2011            4.00
2      AUDI                 A4 AVANT        2011            4.00
3      AUDI                 S4 AVANT        2011            4.00
4      AUDI             A5 CABRIOLET        2011            4.00
5      AUDI             S5 CABRIOLET        2011            4.00
6      AUDI                 A5 COUPE        2011            4.00
7      AUDI                 S5 COUPE        2011            4.00
8      AUDI                       A6        2011            4.00
9      AUDI                 A6 AVANT        2011            4.00
10     AUDI                 S6 AVANT        2011            4.00
11     AUDI                       A8        2011            4.00
12     AUDI                       Q5        2011            4.00
13     AUDI                       Q7        2011            4.00
14     AUDI                 R8 COUPE        2011            4.00
15     AUDI                R8 SPYDER        2011            4.00
16     AUDI                 TT COUPE        2011            4.00
17     AUDI              TT ROADSTER        2011            4.00
18  BENTLEY  CONTINENTAL FLYING SPUR        2011             NaN
19  BENTLEY           CONTINENTAL GT        2011             NaN
20  BENTLEY          CONTINENTAL GTC        2011             NaN
21  BENTLEY  CONTINENTAL SUPERSPORTS        2011             NaN
22  BENTLEY                 MULSANNE        2011             NaN
23  BENTLEY  SUPERSPORTS CONVERTIBLE        2011             NaN
24      BMW           535I XDRIVE GT        2011            5.00
25      BMW              535I XDRIVE        2011            5.00
26      BMW           550I XDRIVE GT        2011            5.00
27      BMW              550I XDRIVE        2011            5.00
28      BMW             X3 XDRIVE28I        2011            4.75
29      BMW             X3 XDRIVE35I        2011            4.75
30      BMW                     128I        2011            4.75
31      BMW                     128I        2011            4.75
32      BMW                     135I        2011            4.75
33      BMW                     135I        2011            4.75
34      BMW                     328I        2011            5.00
35      BMW                     328I        2011            5.00
36      BMW                     328I        2011            4.00
37      BMW                     328I        2011            4.00