In [1]:
from dataops import DataOps

do = DataOps(
    temporal_folder=r"C:\Users\ferra\PycharmProjects\adsdb-project\data\landing\temporal",
    persistent_folder=r"C:\Users\ferra\PycharmProjects\adsdb-project\data\landing\persistent",
)

In [3]:
do.execute_stage(stage_name="landing")

Starting execution of stage: landing
Executing landing phase...
Executing Landing in landing phase
Landing phase completed.
Execution of stage 'landing' completed.

In [4]:
from src.helpers import CSVSampler

csv_sampler_vehicles = CSVSampler(
    input_file=r"C:\Users\ferra\PycharmProjects\adsdb-project\data\landing\persistent\motor_vehicle_collisions\vehicles\20250109.csv"
)

csv_sampler_person = CSVSampler(
    input_file=r"C:\Users\ferra\PycharmProjects\adsdb-project\data\landing\persistent\motor_vehicle_collisions\person\20250109.csv"
)

csv_sampler_crashes = CSVSampler(
    input_file=r"C:\Users\ferra\PycharmProjects\adsdb-project\data\landing\persistent\motor_vehicle_collisions\crashes\20250109.csv"
)

In [5]:
csv_sampler_vehicles.sort_and_sample(
    column_to_sort="COLLISION_ID",
    output_file=r"C:\Users\ferra\PycharmProjects\adsdb-project\data\landing\persistent\motor_vehicle_collisions\vehicles\20241029_v200.csv",
)

csv_sampler_crashes.sort_and_sample(
    column_to_sort="COLLISION_ID",
    output_file=r"C:\Users\ferra\PycharmProjects\adsdb-project\data\landing\persistent\motor_vehicle_collisions\crashes\20241029_c200.csv",
)

csv_sampler_person.sort_and_sample(
    column_to_sort="COLLISION_ID",
    output_file=r"C:\Users\ferra\PycharmProjects\adsdb-project\data\landing\persistent\motor_vehicle_collisions\person\20241029_p200.csv",
)

C:\Users\ferra\PycharmProjects\adsdb-project\src\helpers\csv_sampler.py:34: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  sample_df = pd.read_csv(self.input_file)

Sample of 200 rows saved to C:\Users\ferra\PycharmProjects\adsdb-project\data\landing\persistent\motor_vehicle_collisions\vehicles\20241029_v200.csv

C:\Users\ferra\PycharmProjects\adsdb-project\src\helpers\csv_sampler.py:34: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  sample_df = pd.read_csv(self.input_file)

Sample of 200 rows saved to C:\Users\ferra\PycharmProjects\adsdb-project\data\landing\persistent\motor_vehicle_collisions\crashes\20241029_c200.csv
Sample of 200 rows saved to C:\Users\ferra\PycharmProjects\adsdb-project\data\landing\persistent\motor_vehicle_collisions\person\20241029_p200.csv

,UNIQUE_ID,COLLISION_ID,CRASH_DATE,CRASH_TIME,PERSON_ID,PERSON_TYPE,PERSON_INJURY,VEHICLE_ID,PERSON_AGE,EJECTION,...,BODILY_INJURY,POSITION_IN_VEHICLE,SAFETY_EQUIPMENT,PED_LOCATION,PED_ACTION,COMPLAINT,PED_ROLE,CONTRIBUTING_FACTOR_1,CONTRIBUTING_FACTOR_2,PERSON_SEX
5570166,13255821,4784435,01/04/2025,17:11,901e2836-65e2-4db3-9701-8261739cbc2d,Occupant,Unspecified,20810003.0,35.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Registrant,NaN,NaN,F
5570495,13256039,4784434,01/05/2025,16:10,47ba1592-2fbd-49ae-a06c-a4ee92153b19,Occupant,Unspecified,20810134.0,41.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Registrant,NaN,NaN,F
5570123,13256062,4784433,01/03/2025,20:35,39465bdf-3ce6-4063-ba2b-54181a0f312a,Pedestrian,Injured,NaN,12.0,NaN,...,Back,NaN,NaN,Pedestrian/Bicyclist/Other Pedestrian Not at I...,"Crossing, No Signal, or Crosswalk",Minor Burn,Pedestrian,Unspecified,Unspecified,F
5570037,13255956,4784431,01/05/2025,10:30,19146f4a-e00f-40e4-a5b9-8167d3b5c035,Occupant,Unspecified,20810092.0,33.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Registrant,NaN,NaN,F
5570518,13255955,4784431,01/05/2025,10:30,06cc30fd-7cd3-4e3f-8984-f9e29594ce2d,Occupant,Unspecified,20810092.0,34.0,Not Ejected,...,Does Not Apply,Driver,Lap Belt & Harness,NaN,NaN,Does Not Apply,Driver,NaN,NaN,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5570562,13256160,4784289,01/05/2024,21:47,1d060af1-6ab3-4257-a467-b3900e537d82,Occupant,Unspecified,20810201.0,27.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Registrant,NaN,NaN,M
5570539,13255971,4784287,01/04/2025,5:29,5fa316be-d0b8-47d1-b2d0-f053215d0ce1,Occupant,Unspecified,20810105.0,21.0,Not Ejected,...,Does Not Apply,Driver,Lap Belt,NaN,NaN,Does Not Apply,Driver,NaN,NaN,F
5569855,13255973,4784287,01/04/2025,5:29,f66aa1d9-7bec-4fb7-870e-861624a267d6,Occupant,Unspecified,20810106.0,69.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Registrant,NaN,NaN,M
5569948,13255974,4784287,01/04/2025,5:29,4efe1953-a12f-459e-8fa8-8ccd9738f26f,Occupant,Unspecified,20810105.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Registrant,NaN,NaN,M
5569923,13255972,4784287,01/04/2025,5:29,d4e69860-cc1c-47da-9205-dab2980f7702,Occupant,Unspecified,20810107.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Registrant,NaN,NaN,NaN

### FORMATTED ZONE

In [2]:
do.get_execution_logs()

do.execute_stage(stage_name="formatted")

Execution Logs:
Layer: CSVFormatted, Status: done, Last Execution: 2025-01-10 12:37:39, Error: None
Layer: JSONFormatted, Status: done, Last Execution: 2025-01-10 12:38:31, Error: None
Layer: MVCPersonTrusted, Status: done, Last Execution: 2025-01-10 12:40:01, Error: None
Layer: MVCVehiclesTrusted, Status: done, Last Execution: 2025-01-10 12:42:20, Error: None
Layer: MVCCrashTrusted, Status: done, Last Execution: 2025-01-10 12:42:39, Error: None
Layer: NHTSASafetyRatingTrusted, Status: done, Last Execution: 2025-01-10 12:42:51, Error: None
Layer: CollisionInformationExploitation, Status: done, Last Execution: 2025-01-10 13:02:17, Error: None
Layer: VehicleInformationExploitation, Status: done, Last Execution: 2025-01-10 13:02:18, Error: None
Starting execution of stage: formatted
Executing formatted phase...
Executing CSVFormatted in formatted phase
Executing JSONFormatted in formatted phase
Formatted phase completed.
Execution of stage 'formatted' completed.

In [6]:
formatted_connector = do.pipeline.connectors['formatted_connector']

In [7]:
formatted_connector.get_tables()

['motorvehiclecollisionscrashes2012',
 'motorvehiclecollisionsperson2012',
 'motorvehiclecollisionsvehicles2012',
 'nhtsa_safety_rating_20241027']

In [4]:
do.get_execution_logs()

Execution Logs:
Layer: CSVFormatted, Status: done, Last Execution: 2025-01-10 14:54:37, Error: None
Layer: JSONFormatted, Status: done, Last Execution: 2025-01-10 14:54:37, Error: None
Layer: MVCPersonTrusted, Status: done, Last Execution: 2025-01-10 12:40:01, Error: None
Layer: MVCVehiclesTrusted, Status: done, Last Execution: 2025-01-10 12:42:20, Error: None
Layer: MVCCrashTrusted, Status: done, Last Execution: 2025-01-10 12:42:39, Error: None
Layer: NHTSASafetyRatingTrusted, Status: done, Last Execution: 2025-01-10 12:42:51, Error: None
Layer: CollisionInformationExploitation, Status: done, Last Execution: 2025-01-10 13:02:17, Error: None
Layer: VehicleInformationExploitation, Status: done, Last Execution: 2025-01-10 13:02:18, Error: None

[('CSVFormatted', 'done', datetime.datetime(2025, 1, 10, 14, 54, 37), None),
 ('JSONFormatted', 'done', datetime.datetime(2025, 1, 10, 14, 54, 37), None),
 ('MVCPersonTrusted', 'done', datetime.datetime(2025, 1, 10, 12, 40, 1), None),
 ('MVCVehiclesTrusted',
  'done',
  datetime.datetime(2025, 1, 10, 12, 42, 20),
  None),
 ('MVCCrashTrusted', 'done', datetime.datetime(2025, 1, 10, 12, 42, 39), None),
 ('NHTSASafetyRatingTrusted',
  'done',
  datetime.datetime(2025, 1, 10, 12, 42, 51),
  None),
 ('CollisionInformationExploitation',
  'done',
  datetime.datetime(2025, 1, 10, 13, 2, 17),
  None),
 ('VehicleInformationExploitation',
  'done',
  datetime.datetime(2025, 1, 10, 13, 2, 18),
  None)]

In [8]:
formatted_connector.get_table_as_dataframe("motorvehiclecollisionscrashes2012")

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,Year
0,2012-11-14,13:00,MANHATTAN,10024,40.785294,-73.969335,"(40.7852936, -73.9693348)",WEST 86 STREET,CENTRAL PARK WEST,None,...,None,None,None,53066,PASSENGER VEHICLE,UNKNOWN,None,None,None,2012
1,2012-11-29,6:30,None,None,40.726357,-73.763867,"(40.7263574, -73.7638669)",None,None,None,...,Unspecified,None,None,3033506,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,None,None,2012
2,2012-12-08,18:52,BROOKLYN,11214,40.599718,-74.002107,"(40.5997184, -74.0021066)",BAY 25 STREET,CROPSEY AVENUE,None,...,Unspecified,None,None,122532,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,None,None,2012
3,2012-11-20,10:40,None,None,NaN,NaN,None,None,None,None,...,None,None,None,2897008,PASSENGER VEHICLE,LARGE COM VEH(6 OR MORE TIRES),None,None,None,2012
4,2012-11-19,18:15,None,None,40.839360,-73.872805,"(40.8393602, -73.8728046)",None,None,None,...,Unspecified,None,None,2929453,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,UNKNOWN,None,None,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100540,2012-11-23,1:00,None,None,NaN,NaN,None,EXTERIOR STREET,EAST 149 STREET,None,...,Unspecified,None,None,85972,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,None,None,2012
100541,2012-12-10,13:30,BROOKLYN,11201,40.697629,-73.985283,"(40.6976294, -73.9852826)",CONCORD STREET,FLATBUSH AVENUE EXTENSION,None,...,None,None,None,188748,PASSENGER VEHICLE,SMALL COM VEH(4 TIRES),None,None,None,2012
100542,2012-11-14,20:30,MANHATTAN,10018,40.754748,-73.987890,"(40.7547481, -73.9878904)",WEST 40 STREET,7 AVENUE,None,...,None,None,None,27357,LARGE COM VEH(6 OR MORE TIRES),TAXI,None,None,None,2012
100543,2012-11-20,20:05,QUEENS,11427,40.727223,-73.746803,"(40.7272232, -73.7468027)",217 STREET,89 AVENUE,None,...,Unspecified,None,None,221337,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,None,None,2012
100544,2012-11-15,11:30,None,None,40.701767,-73.816164,"(40.7017674, -73.8161641)",None,None,None,...,None,None,None,2997645,SMALL COM VEH(4 TIRES),TAXI,None,None,None,2012

In [9]:
formatted_connector.get_table_as_dataframe("motorvehiclecollisionsvehicles2012")

,UNIQUE_ID,COLLISION_ID,CRASH_DATE,CRASH_TIME,VEHICLE_ID,STATE_REGISTRATION,VEHICLE_TYPE,VEHICLE_MAKE,VEHICLE_MODEL,VEHICLE_YEAR,...,POINT_OF_IMPACT,VEHICLE_DAMAGE,VEHICLE_DAMAGE_1,VEHICLE_DAMAGE_2,VEHICLE_DAMAGE_3,PUBLIC_PROPERTY_DAMAGE,PUBLIC_PROPERTY_DAMAGE_TYPE,CONTRIBUTING_FACTOR_1,CONTRIBUTING_FACTOR_2,Year
0,13229173,239880,2012-10-20,10:45,2,NY,PASSENGER VEHICLE,None,NaN,NaN,...,None,None,None,None,None,None,NaN,Unspecified,None,2012
1,12002687,183141,2012-12-15,18:27,2,NY,PASSENGER VEHICLE,None,NaN,NaN,...,None,None,None,None,None,None,NaN,Unspecified,None,2012
2,11158768,136514,2012-12-07,15:00,1,NY,SPORT UTILITY / STATION WAGON,None,NaN,NaN,...,None,None,None,None,None,None,NaN,Unspecified,None,2012
3,12128239,187817,2012-07-24,13:30,1,NJ,PASSENGER VEHICLE,None,NaN,NaN,...,None,None,None,None,None,None,NaN,Unspecified,None,2012
4,13082721,234273,2012-11-15,9:25,1,NY,PASSENGER VEHICLE,None,NaN,NaN,...,None,None,None,None,None,None,NaN,Unspecified,None,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198963,13644992,3078869,2012-08-19,16:10,2,NY,PASSENGER VEHICLE,None,NaN,NaN,...,None,None,None,None,None,None,NaN,Driver Inattention/Distraction,None,2012
198964,12953526,3023348,2012-07-10,9:00,1,NY,PASSENGER VEHICLE,None,NaN,NaN,...,None,None,None,None,None,None,NaN,Outside Car Distraction,None,2012
198965,13410795,247138,2012-10-09,20:20,2,NY,PASSENGER VEHICLE,None,NaN,NaN,...,None,None,None,None,None,None,NaN,Unspecified,None,2012
198966,10386116,100330,2012-10-05,17:55,2,NY,PASSENGER VEHICLE,None,NaN,NaN,...,None,None,None,None,None,None,NaN,Unspecified,None,2012
198967,12955096,228693,2012-10-02,17:30,2,NY,PASSENGER VEHICLE,None,NaN,NaN,...,None,None,None,None,None,None,NaN,Pavement Slippery,None,2012

In [10]:
formatted_connector.get_table_as_dataframe("motorvehiclecollisionsperson2012")

,UNIQUE_ID,COLLISION_ID,CRASH_DATE,CRASH_TIME,PERSON_ID,PERSON_TYPE,PERSON_INJURY,VEHICLE_ID,PERSON_AGE,EJECTION,...,POSITION_IN_VEHICLE,SAFETY_EQUIPMENT,PED_LOCATION,PED_ACTION,COMPLAINT,PED_ROLE,CONTRIBUTING_FACTOR_1,CONTRIBUTING_FACTOR_2,PERSON_SEX,Year
0,1796583,165392,2012-12-19,9:10,1,Pedestrian,Injured,NaN,29.0,None,...,None,None,None,None,None,None,None,None,None,2012
1,1817686,172768,2012-08-13,17:00,1,Bicyclist,Injured,11861950.0,19.0,None,...,None,None,None,None,None,None,None,None,None,2012
2,1767496,160953,2012-12-09,8:16,1,Occupant,Injured,11622039.0,27.0,None,...,None,None,None,None,None,None,None,None,None,2012
3,1681447,135468,2012-08-13,9:20,1,Occupant,Injured,11156697.0,53.0,None,...,None,None,None,None,None,None,None,None,None,2012
4,2048847,239359,2012-09-07,17:21,1,Pedestrian,Injured,NaN,7.0,None,...,None,None,None,None,None,None,None,None,None,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27666,11999590,4470433,2012-10-22,17:18,a278933a-592a-4ff1-966d-7e4eab1c8dcc,Occupant,Unspecified,20091734.0,13.0,None,...,None,None,None,None,None,Registrant,None,None,None,2012
27667,11896955,4443197,2012-08-01,10:22,119d78b5-0acd-4f54-8efb-9b03942ee0ef,Occupant,Unspecified,20031907.0,45.0,None,...,None,None,None,None,None,Registrant,None,None,F,2012
27668,11964618,4461135,2012-09-25,12:36,9a06d93a-0d91-4aa9-bbdb-2acdd3d8dd28,Occupant,Unspecified,20071661.0,7.0,Not Ejected,...,"Middle front seat, or passenger lying across a...",Lap Belt & Harness,None,None,Does Not Apply,Passenger,None,None,F,2012
27669,11964616,4461135,2012-09-25,12:36,eb747dfa-c01e-4ddf-841d-9d020a8f7054,Occupant,Unspecified,20071661.0,NaN,None,...,None,None,None,None,None,Registrant,None,None,U,2012
27670,11267048,4252952,2012-12-02,22:55,06ed5aa7-220d-4e3e-bc60-7260538cdafd,Occupant,Unspecified,19666651.0,NaN,None,...,None,None,None,None,None,Registrant,None,None,None,2012

In [11]:
formatted_connector.get_table_as_dataframe("nhtsa_safety_rating_20241027")

,VehiclePicture,OverallRating,OverallFrontCrashRating,FrontCrashDriversideRating,FrontCrashPassengersideRating,FrontCrashPicture,FrontCrashVideo,OverallSideCrashRating,SideCrashDriversideRating,SideCrashPassengersideRating,...,RecallsCount,InvestigationCount,ModelYear,Make,Model,VehicleDescription,VehicleId,SideCrashPicture,SidePolePicture,SidePoleVideo
0,https://static.nhtsa.gov/images/vehicles/4447_...,Not Rated,Not Rated,5,4,https://static.nhtsa.gov/crashTest/images/2008...,https://static.nhtsa.gov/crashTest/videos/2008...,Not Rated,5,4,...,2,0,2008,TOYOTA,MATRIX,2008 Toyota Matrix 4-DR. w/SAB,2500,None,None,None
1,https://static.nhtsa.gov/images/vehicles/4638_...,Not Rated,Not Rated,4,5,https://static.nhtsa.gov/crashTest/images/2008...,https://static.nhtsa.gov/crashTest/videos/2008...,Not Rated,5,5,...,9,0,2008,TOYOTA,SIENNA,2008 Toyota Sienna w/SAB,2503,https://static.nhtsa.gov/crashTest/images/2008...,None,None
2,https://static.nhtsa.gov/images/vehicles/4914_...,Not Rated,Not Rated,4,4,None,None,Not Rated,Not Rated,Not Rated,...,13,0,2008,TOYOTA,TUNDRA,2008 Toyota Tundra Extended Cab w/SAB,2507,None,None,None
3,https://static.nhtsa.gov/images/vehicles/4914_...,Not Rated,Not Rated,4,4,https://static.nhtsa.gov/crashTest/images/2008...,https://static.nhtsa.gov/crashTest/videos/2008...,Not Rated,Not Rated,Not Rated,...,13,0,2008,TOYOTA,TUNDRA,2008 Toyota Tundra 4-DR. w/SAB,2509,None,None,None
4,https://static.nhtsa.gov/images/vehicles/5068_...,Not Rated,Not Rated,5,5,None,https://static.nhtsa.gov/crashTest/videos/2008...,Not Rated,5,5,...,5,1,2008,FORD,EXPEDITION,2008 Ford Expedition Extended 4-DR. w/SAB,2514,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14380,None,Not Rated,Not Rated,Not Rated,Not Rated,None,None,Not Rated,Not Rated,Not Rated,...,0,0,2025,KIA,EV9,2025 Kia EV9 SUV AWD,20738,None,None,None
14381,None,Not Rated,Not Rated,Not Rated,Not Rated,None,None,Not Rated,Not Rated,Not Rated,...,0,0,2025,KIA,CARNIVAL HEV,2025 Kia Carnival HEV PV FWD,20740,None,None,None
14382,None,5,4,4,4,https://static.nhtsa.gov/crashTest/images/2025...,None,5,5,5,...,0,0,2025,NISSAN,PATHFINDER,2025 Nissan Pathfinder SUV AWD,20746,https://static.nhtsa.gov/crashTest/images/2025...,https://static.nhtsa.gov/crashTest/images/2025...,None
14383,None,5,4,4,4,https://static.nhtsa.gov/crashTest/images/2025...,https://static.nhtsa.gov/crashTest/videos/2025...,5,5,5,...,0,0,2025,INFINITI,QX50,2025 Infiniti QX50 SUV AWD,20762,https://static.nhtsa.gov/crashTest/images/2025...,https://static.nhtsa.gov/crashTest/images/2025...,https://static.nhtsa.gov/crashTest/videos/2025...
14384,None,Not Rated,Not Rated,Not Rated,Not Rated,None,None,Not Rated,Not Rated,Not Rated,...,0,0,2025,RIVIAN,EDV 700,2025 Rivian EDV 700 CV FWD,20773,None,None,None


### TRUSTED ZONE

In [10]:
do.execute_stage(stage_name="trusted")

Starting execution of stage: trusted
Executing trusted phase...
Executing MVCPersonTrusted in trusted phase
Table mvc_person created successfully.
Executing MVCVehiclesTrusted in trusted phase
Table mvc_vehicles created successfully.
Executing MVCCrashTrusted in trusted phase
Table mvc_crash created successfully.
Executing NHTSASafetyRatingTrusted in trusted phase
Table nhtsa_safety_rating created successfully.
Trusted phase completed.
Execution of stage 'trusted' completed.

In [11]:
do.get_execution_logs()

Execution Logs:
Layer: CSVFormatted, Status: done, Last Execution: 2025-01-10 12:37:39, Error: None
Layer: JSONFormatted, Status: done, Last Execution: 2025-01-10 12:38:31, Error: None
Layer: MVCPersonTrusted, Status: done, Last Execution: 2025-01-10 12:40:01, Error: None
Layer: MVCVehiclesTrusted, Status: done, Last Execution: 2025-01-10 12:42:20, Error: None
Layer: MVCCrashTrusted, Status: done, Last Execution: 2025-01-10 12:42:39, Error: None
Layer: NHTSASafetyRatingTrusted, Status: done, Last Execution: 2025-01-10 12:42:51, Error: None

[('CSVFormatted', 'done', datetime.datetime(2025, 1, 10, 12, 37, 39), None),
 ('JSONFormatted', 'done', datetime.datetime(2025, 1, 10, 12, 38, 31), None),
 ('MVCPersonTrusted', 'done', datetime.datetime(2025, 1, 10, 12, 40, 1), None),
 ('MVCVehiclesTrusted',
  'done',
  datetime.datetime(2025, 1, 10, 12, 42, 20),
  None),
 ('MVCCrashTrusted', 'done', datetime.datetime(2025, 1, 10, 12, 42, 39), None),
 ('NHTSASafetyRatingTrusted',
  'done',
  datetime.datetime(2025, 1, 10, 12, 42, 51),
  None)]

In [12]:
trusted_connector = do.pipeline.connectors['trusted_connector']

In [13]:
trusted_connector.get_tables()

['mvc_crash', 'mvc_person', 'mvc_vehicles', 'nhtsa_safety_rating']

In [14]:
trusted_connector.get_table_as_dataframe("mvc_crash")

,index,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,collision_id,...,tire_failure/inadequate,tow_hitch_defective,traffic_control_device_improper/non-working,traffic_control_disregarded,turning_improperly,unsafe_lane_changing,unsafe_speed,view_obstructed/limited,windshield_inadequate,crash_datetime
0,22346.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39788,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2012-12-23 13:20:00
1,22362.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,136564,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2012-12-14 08:20:00
2,22364.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,205027,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2012-12-20 18:52:00
3,22395.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3079275,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2012-12-16 17:40:00
4,22425.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,86162,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2012-12-24 20:21:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100540,22290.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,295914,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2012-12-31 18:35:00
100541,22300.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,176804,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2012-12-31 11:40:00
100542,22302.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6420,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2012-12-12 18:00:00
100543,22310.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,153347,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2012-12-26 21:30:00
100544,22314.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,33742,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2012-12-28 22:00:00

In [15]:
trusted_connector.get_table_as_dataframe("mvc_person")

,unique_id,collision_id,person_id,vehicle_id,person_age,person_sex,person_type_bicyclist,person_type_occupant,person_type_pedestrian,person_injured
0,1350125,45067,1,9272541.0,40,None,False,True,False,1
1,1753323,156856,3,11560340.0,15,None,False,True,False,1
2,1817712,172849,1,11862107.0,40,None,True,False,False,1
3,2155296,273954,1,13979889.0,71,None,False,True,False,1
4,1283607,14599,1,8614921.0,48,None,False,True,False,1
...,...,...,...,...,...,...,...,...,...,...
27666,1557699,103265,1,10463658.0,0,None,False,True,False,1
27667,1283614,14622,1,NaN,22,None,False,False,True,1
27668,2155090,3102098,1,13978384.0,22,None,False,True,False,1
27669,1987019,220504,1,12834873.0,0,None,False,True,False,1
27670,1609169,116905,1,10774718.0,28,None,False,True,False,1

In [17]:
trusted_connector.get_table_as_dataframe("mvc_vehicles")

,index,collision_id,vehicle_id,vehicle_type,vehicle_make,vehicle_model,vehicle_year,driver_sex,driver_license_status,driver_license_jurisdiction,...,left_rear_bumper,left_rear_quarter_panel,left_side_doors,no_damage,other,right_front_bumper,right_front_quarter_panel,right_rear_bumper,right_side_doors,crash_datetime
0,23881,3064941,2,unknown vehicle,alfa romeo,NaN,NaN,None,None,None,...,0,0,0,0,0,0,0,0,0,2012-08-07 20:00:00
1,23893,152879,2,passenger vehicle,alfa romeo,NaN,NaN,None,None,None,...,0,0,0,0,0,0,0,0,0,2012-09-28 08:20:00
2,23911,3016806,2,passenger vehicle,alfa romeo,NaN,NaN,None,None,None,...,0,0,0,0,0,0,0,0,0,2012-08-02 08:52:00
3,23914,247480,1,passenger vehicle,alfa romeo,NaN,NaN,None,None,None,...,0,0,0,0,0,0,0,0,0,2012-11-02 18:03:00
4,23916,10092,1,passenger vehicle,alfa romeo,NaN,NaN,None,None,None,...,0,0,0,0,0,0,0,0,0,2012-11-29 12:40:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100540,23807,122620,3,passenger vehicle,alfa romeo,NaN,NaN,None,None,None,...,0,0,0,0,0,0,0,0,0,2012-12-20 23:15:00
100541,23811,100027,1,passenger vehicle,alfa romeo,NaN,NaN,None,None,None,...,0,0,0,0,0,0,0,0,0,2012-08-01 15:01:00
100542,23823,141803,1,passenger vehicle,alfa romeo,NaN,NaN,None,None,None,...,0,0,0,0,0,0,0,0,0,2012-12-13 07:36:00
100543,23824,264427,1,station wagon,alfa romeo,NaN,NaN,None,None,None,...,0,0,0,0,0,0,0,0,0,2012-08-23 17:50:00
100544,23827,274211,2,station wagon,alfa romeo,NaN,NaN,None,None,None,...,0,0,0,0,0,0,0,0,0,2012-12-03 06:20:00

In [18]:
trusted_connector.get_table_as_dataframe("nhtsa_safety_rating")

                make                    model  model_year  overall_rating
0              honda                   ACCORD        2008        4.600000
1          chevrolet                      HHR        2008        5.000000
2             saturn                    ASTRA        2008        4.206019
3           infiniti                   M35/45        2008        4.549662
4                gmc                   SIERRA        2008        4.365000
...              ...                      ...         ...             ...
10742  mercedes-benz            CLE CABRIOLET        2024        4.171359
10743          honda              CIVIC SEDAN        2025        5.000000
10744     land rover  LAND ROVER DEFENDER 110        2025        3.222222
10745          dodge                  CHARGER        2024        4.950617
10746        hyundai                  IONIQ 9        2025        4.555496

[10747 rows x 4 columns]

### EXPLOITATION ZONE

In [ ]:
do.execute_stage(stage_name="exploitation")

Starting execution of stage: exploitation
Executing exploitation phase...
Executing CollisionInformationExploitation in exploitation phase

In [16]:
exploitation_connector = do.pipeline.connectors['exploitation_connector']

In [4]:
do.get_execution_logs()

Execution Logs:
Layer: CSVFormatted, Status: done, Last Execution: 2025-01-10 14:54:37, Error: None
Layer: JSONFormatted, Status: done, Last Execution: 2025-01-10 14:54:37, Error: None
Layer: MVCPersonTrusted, Status: done, Last Execution: 2025-01-10 12:40:01, Error: None
Layer: MVCVehiclesTrusted, Status: done, Last Execution: 2025-01-10 12:42:20, Error: None
Layer: MVCCrashTrusted, Status: done, Last Execution: 2025-01-10 12:42:39, Error: None
Layer: NHTSASafetyRatingTrusted, Status: done, Last Execution: 2025-01-10 12:42:51, Error: None
Layer: CollisionInformationExploitation, Status: done, Last Execution: 2025-01-10 15:52:31, Error: None
Layer: VehicleInformationExploitation, Status: done, Last Execution: 2025-01-10 15:52:32, Error: None

[('CSVFormatted', 'done', datetime.datetime(2025, 1, 10, 14, 54, 37), None),
 ('JSONFormatted', 'done', datetime.datetime(2025, 1, 10, 14, 54, 37), None),
 ('MVCPersonTrusted', 'done', datetime.datetime(2025, 1, 10, 12, 40, 1), None),
 ('MVCVehiclesTrusted',
  'done',
  datetime.datetime(2025, 1, 10, 12, 42, 20),
  None),
 ('MVCCrashTrusted', 'done', datetime.datetime(2025, 1, 10, 12, 42, 39), None),
 ('NHTSASafetyRatingTrusted',
  'done',
  datetime.datetime(2025, 1, 10, 12, 42, 51),
  None),
 ('CollisionInformationExploitation',
  'done',
  datetime.datetime(2025, 1, 10, 15, 52, 31),
  None),
 ('VehicleInformationExploitation',
  'done',
  datetime.datetime(2025, 1, 10, 15, 52, 32),
  None)]

In [9]:
exploitation_connector.get_tables()

['mvc_safety_rating_by_brand', 'safety_rating_by_accidents']

In [6]:
exploitation_connector.get_table_as_dataframe("mvc_safety_rating_by_brand")

,vehicle_make,vehicle_year,number_of_persons_injured,number_of_persons_killed,overall_rating,num_crashes
0,honda,2016.0,0.0,0.0,4.875000,1
1,dodge,2016.0,0.0,0.0,4.348314,1
2,ford,2016.0,0.0,0.0,4.524439,2
3,ford,2015.0,0.0,0.0,4.447550,2
4,honda,2017.0,1.0,0.0,4.945583,3

In [11]:
df = exploitation_connector.get_table_as_dataframe("safety_rating_by_accidents")

,person_id,person_age,person_sex,vehicle_make,vehicle_year,overall_rating
0,3a275fa3-3bb0-4b46-9165-9d7299392139,22,M,ford,2015.0,4.625
1,2987353,54,M,dodge,2016.0,4.000
2,1926103,0,M,alfa romeo,2015.0,NaN
3,eb747dfa-c01e-4ddf-841d-9d020a8f7054,0,U,honda,2016.0,4.000
4,1926100,45,F,alfa romeo,2015.0,NaN
...,...,...,...,...,...,...
90,31676640-aeed-4492-bba6-0c4f85f0f872,31,M,ford,2015.0,3.000
91,966979bb-5ecd-467e-97af-c61b28c85cf9,22,None,ford,2015.0,4.600
92,c891aee5-5b3d-452e-85cd-3b86a1238776,36,M,ford,2016.0,4.625
93,318193a6-04f7-428d-b92b-2b457bd0a502,32,M,alfa romeo,2015.0,NaN
94,120ccd53-9366-493c-94c6-472cb86366b2,37,M,ford,2016.0,3.000

### COMPLETE EXECUTION

In [ ]:
do.execute_pipeline()

### TRY DOWNLOADS

In [2]:
do.download_last_datasources()

Starting download from https://data.cityofnewyork.us/api/views/h9gi-nx95/rows.csv?date=20241030&accessType=DOWNLOAD...

Motor_Vehicle_Collisions_-_Crashes_20241030.csv: 474kB [00:00, 2.98MB/s]

CPU Usage: 1.2%, Memory Usage: 48.5%

Motor_Vehicle_Collisions_-_Crashes_20241030.csv: 14.9MB [00:06, 2.46MB/s]

CPU Usage: 0.8%, Memory Usage: 48.5%

Motor_Vehicle_Collisions_-_Crashes_20241030.csv: 28.7MB [00:12, 3.22MB/s]

CPU Usage: 1.0%, Memory Usage: 48.5%

Motor_Vehicle_Collisions_-_Crashes_20241030.csv: 48.6MB [00:18, 3.86MB/s]

CPU Usage: 0.2%, Memory Usage: 48.6%

Motor_Vehicle_Collisions_-_Crashes_20241030.csv: 70.0MB [00:24, 3.13MB/s]

CPU Usage: 1.1%, Memory Usage: 48.7%

Motor_Vehicle_Collisions_-_Crashes_20241030.csv: 93.0MB [00:30, 3.80MB/s]

CPU Usage: 1.0%, Memory Usage: 48.7%

Motor_Vehicle_Collisions_-_Crashes_20241030.csv: 116MB [00:36, 3.89MB/s]

CPU Usage: 1.7%, Memory Usage: 48.7%

Motor_Vehicle_Collisions_-_Crashes_20241030.csv: 118MB [00:36, 3.36MB/s]

KeyboardInterrupt